.button {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}

.button:hover {
  cursor: pointer;
  -webkit-cursor: pointer;
  -moz-cursor: pointer;
  box-shadow: var(--glow-primary);
}

.icon {
  height: 1rem;
  width: auto;
}
