.navItem {
  height: 3rem;
  font-size: var(--text-md);
  display: flex;
  column-gap: var(--space-3);
  width: 100%;
  justify-content: center;
  align-items: center;
  outline: none;
  border: 1px solid;
  border-image: linear-gradient(
      90deg,
      rgba(79, 163, 227, 0) 0%,
      var(--glow-blue) 20%,
      rgba(255, 255, 255, 1) 50%,
      var(--glow-blue) 80%,
      rgba(79, 163, 227, 0) 100%
    )
    0 0 1 0;
  background: none;
}

.navItem:hover {
  background: var(--glow-orange);
}

.navItem.active {
  background: var(--glow-orange);
  border: 2px solid;
  border-image: linear-gradient(
      90deg,
      rgba(79, 163, 227, 0) 0%,
      var(--glow-orange) 20%,
      rgba(255, 255, 255, 1) 50%,
      var(--glow-orange) 80%,
      rgba(79, 163, 227, 0) 100%
    )
    1 0 1 0;
  font-weight: var(--font-weight-semibold);
}

.label {
  font-family: var(--font-heading);
}
