.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--btn-radius);
  padding: var(--btn-padding-y) var(--btn-padding-x);
  outline: none;
  font-weight: var(--font-weight-semibold);
}

.button:hover {
  cursor: pointer;
  -webkit-cursor: pointer;
  -moz-cursor: pointer;
}

.primary {
  color: var(--text);
  background: var(--primary-hover);
  font-size: var(--text-md);
  font-family: var(--font-heading);
  border: 1px solid var(--primary);
}

.primary:hover {
  background: var(--primary);
  border-color: var(--primary);
  box-shadow: var(--primary-hover);
}

.primary:hover:disabled {
  background: rgba(46, 111, 163, 0.6);
  border-color: var(--primary-hover);
  box-shadow: none;
}

.secondary {
  color: var(--text);
  background: var(--secondary-hover);
  font-size: var(--text-md);
  font-family: var(--font-heading);
  border: 1px solid var(--secondary);
}

.secondary:hover {
  background: var(--secondary);
  border-color: var(--secondary-hover);
  box-shadow: var(--secondary-hover);
}

.secondary:hover:disabled {
  background: var(--secondary-hover);
  border-color: var(--secondary);
  box-shadow: none;
}

.tertiary {
  color: var(--text);
  background: none;
  border: 1px solid var(--primary-hover);
  font-size: var(--text-md);
  font-family: var(--font-heading);
}

.tertiary:hover {
  border-color: var(--primary);
}

.tertiary:hover:disabled {
  border-color: var(--primary-hover);
  box-shadow: none;
}

.button:disabled {
  opacity: 0.4;
}
