.shell {
  height: 100vh;
}

.main {
  padding-top: var(--topbar-height);
  padding-left: var(--sidebar-width);

  padding-right: var(--space-5);
  padding-bottom: var(--space-5);
}

@media only screen and (max-width: 768px) {
  .main {
    padding-left: var(--space-5);
  }
}
